@using E_Vote_System.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
    Layout = "~/Views/Shared/_MaterialableLogin.cshtml";
}


@using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "md-float-material form-material", role = "form" }))
{
    <div class="form-group">
        @Html.AntiForgeryToken()
    </div>



    <div class="text-center">
        <img src="/Content/imgs/logo.png" alt="logo.png">
    </div>
    <div class="auth-box card">

        <div class="card-block">
            <div class="row m-b-20">
                <div class="col-md-12">
                    <h3 class="text-center">Sign In</h3>
                </div>
            </div>

            <div class="form-group">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            </div>


            <div class="form-group form-primary">
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                <span class="form-bar"></span>
                @Html.LabelFor(m => m.Email, new { @class = "float-label" })
            </div>
            <div class="form-group form-primary">
                @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                <span class="form-bar"></span>
                @Html.LabelFor(m => m.Password, new { @class = "float-label" })
            </div>
            <div class="row m-t-25 text-left">
                <div class="col-12">
                    <div class="checkbox-fade fade-in-primary d-">
                        @*@Html.LabelFor(m => m.RememberMe)*@

                        @*<label>
                                @Html.CheckBoxFor(m => m.RememberMe)
                                <span class="cr"><i class="cr-icon icofont icofont-ui-check txt-primary"></i></span>
                                <span class="text-inverse">Remember me</span>
                            </label>*@

                        <p>
                            @Html.ActionLink("Register as a new user", "Register")
                        </p>

                    </div>
                    <div class="forgot-phone text-right f-right">
                        @Html.ActionLink("Forgot your password?", "ForgotPassword", null, new { @class = "text-right f-w-600" })
                        @*<a href="auth-reset-password.html" class="text-right f-w-600"> Forgot Password?</a>*@
                    </div>
                </div>
            </div>
            <div class="row m-t-30">
                <div class="col-md-12">
                    <input type="submit" class="btn btn-primary btn-md btn-block waves-effect waves-light text-center m-b-20" value="Login in" />
                    @*<button class="btn btn-primary btn-md btn-block waves-effect waves-light text-center m-b-20">Sign in</button>*@
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="col-md-10">
                    <p class="text-inverse text-left m-b-0">Thank you.</p>
                    <p class="text-inverse text-left"><a href="@Url.Action("Index", "Home")"><b>Back to website</b></a></p>
                </div>
                <div class="col-md-2">
                    <img src="/Content/Materialable/assets/images/auth/Logo-small-bottom.png" alt="small-logo.png">
                </div>
            </div>


        </div>

    </div>
}


@section scripts{
    <script>


    $('.submit_votes_btn').on('click', function () {


        let forms = $('.voter_form');

        if (forms.length == 0) {
            alert('No position votes to cast for this election');
            return;
        }

        let isValid = true;

        forms.each(function (i, e) {
            $(e).find('.message_box').text('').slideUp('slow');
            $(e).find('.message_box_success').text('').slideUp('slow');

            let val = $(e).find('input[name="CandidateId"]:checked').val();

            if (val == undefined && $(e).data('candidates-count') > 0) {

                $(e).find('.message_box').text('Please select a candidate for this position').removeClass('d-none').slideDown('slow');

                isValid = false;

            }
        });

        if (!isValid) {
            alert('Please check the form for errors before submitting.');
        } else {
            forms.each(function (i, e) {

                let url = $(e).attr('action');

                $(e).find('.message_box').text('').slideUp('slow');

                let val = $(e).find('input[name="CandidateId"]:checked').val();

                let fd = new FormData();

                $(e).find('.frm_input').each(function (ix, ex) {
                    fd.append($(ex).attr('name'), $(ex).val());

                    console.log($(ex).attr('name'), $(ex).val())
                });


                $.ajax({
                    url,
                    method: 'POST',
                    data: fd,
                    processData: false,
                    contentType: false,
                    success: function (res) {
                        let status = res.status;
                        let message = res.message;

                        if (status == ApiStatusCodes.SUCCESS) {
                            $(e).find('.message_box_success').text(message).removeClass('d-none').slideDown('slow');
                        } else {
                            $(e).find('.message_box').text(message).removeClass('d-none').slideDown('slow');
                        }

                        //toastrAlert(message);
                    },
                    error: function (err) {
                        //toastrAlert(GenerateToastError(err.statusText, 'Vote Submission Failed'));
                        $(e).find('.message_box').text(err.statusText).removeClass('d-none').slideDown('slow');
                    }
                })

            });
        }

    });

    </script>
}
