
@if (ViewBag.Message != null)
{
    <div class="alert alert-danger">
        <i class="fa fa-exclamation-circle"></i> @ViewBag.Message
    </div>
}

@if (Model != null)
{

    List<E_Vote_System.Models.ElectionCandidateModel> candidates = ViewBag.Candidates as List<E_Vote_System.Models.ElectionCandidateModel>;

    var votes = 0;

    if (candidates != null && candidates.Count > 0)
    {
        votes = candidates.Sum(c => c.Votes.Count);


        <div class="table-responsive py-2 my-5">

            <table class="table table-hover data-table">

                <thead>
                    <tr>
                        <th>
                            Display Picture
                        </th>
                        <th>
                            Candidate Details
                        </th>
                        <th>
                            Votes
                        </th>

                    </tr>
                </thead>

                <tbody>
                    @foreach (var item in candidates)
                    {
                        <tr class="delete_ancestor">
                            <td>
                                @{
                                    string profilePath = $"{Configs.DocumentsUrl}/{item.ProfilePicture}";
                                    string manifestoPath = $"{Configs.DocumentsUrl}/{item.ManifestoFile}";
                                }

                                <img src="@profilePath" alt="" class="img mb-1" style="height: 130px;" />
                            </td>
                            <td>
                                <h4>@item.SurName @item.FirstName @item.OtherName</h4>
                                <p>@item.EmailAddress</p>
                                <p>@item.PhoneNumber</p>
                                <p>
                                    <a href="@manifestoPath" target="_blank" class="btn btn-sm btn-round btn-danger bg-c-red text-white font-weight-bold">Manifesto</a>
                                </p>
                            </td>
                            <td>
                                <p>@item.Votes.Count Votes</p>
                                <p>
                                    <a class="badge badge-info badge-lg" href="@Url.Action("CandidateVotes",new { id = item.Id})">
                                        @(item.Votes.Count/votes * 100) %
                                    </a>
                                </p>
                            </td>

                        </tr>
                    }
                </tbody>


            </table>

        </div> }
    else
    {
        <div class="alert alert-info">
            <i class="fa fa-info-circle"></i> No candidates for this position
        </div>
    }

}


